    
    *{
        padding: 0;
        margin: 0;
        font-family: tahoma;
        
    }

    header{
        background-color: red;
    }
    h1 {
        padding: 10px;
        color: antiquewhite;
    }
    h2 {
        text-align: center;
    }
   body{
        background-color: whitesmoke;
    }
      label {
  display: block;
  margin-bottom: 6px;
}

    input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

    button {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.815);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    }

    button:hover {
        background-color:red;
    }
    .kepala{
        display: flex;
        align-items: center;
        align-content: center;
        margin-left: 200px;
    }
    .container{
        background-color: white;
        width: 50%;
        margin: auto;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(158, 3, 3, 0.5);
        margin-top: 40px;

    }
    .form{
        margin-bottom: 15px;
    }
    .isi{
        margin-top: 40px;
    }
   .container1{
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
   }
   
   .container1 p{
    margin-top: auto;
    margin-bottom: auto;
   }

   .container1 a{
    color: black;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 8px;
    border-radius: 20px;
   }

   .container1 a:hover {
    color: white;
    background-color: red;
    outline:10px;
    text-decoration:wavy underline;
  }


#error-msg {
  color: white;
  text-align: center;
  margin-top: 10px;
  background-color: red;
  border-radius: 10px;
  box-shadow: black;
}
